<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>EmpWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>OracleDriver</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>OracleURL</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  <context-param>
    <param-name>OracleId</param-name>
    <param-value>hr</param-value>
  </context-param>
  <context-param>
    <param-name>OraclePwd</param-name>
    <param-value>hr</param-value>
  </context-param>
  <servlet>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>kr.kosa.web.EmpServlet</servlet-class>
    <init-param>
      <param-name>email</param-name>
      <param-value>jyhkosa@gmail.com</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>TestController</servlet-name>
    <servlet-class>kr.kosa.web.TestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestController</servlet-name>
    <url-pattern>/test/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/emp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpCrudServlet</servlet-name>
    <servlet-class>kr.kosa.web.EmpCrudServlet</servlet-class>
    <init-param>
      <param-name>email</param-name>
      <param-value>jyhkosa@gmail.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpCrudServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>